<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/admin-login.css">
</head>
<body>

<div class="login-container">

    <img src="/images/KS.png" alt="logo">

    <h1>KS PARKING</h1>

    <form action="/admin-login" method="post">

        <input
                type="text"
                name="username"
                placeholder="Username"
                required>

        <input
                type="password"
                name="password"
                placeholder="Password"
                required>

        <button type="submit">
            Login
        </button>

    </form>

</div>

</body>
</html>